body{
    min-height:100%!important;
}
.sectionB
{
    background-color:#EAEDED ; 
    height:100% !important;
    min-height:590px !important;

}



.sectionB table thead
{
    background-color:#AEB6BF ; 
}

.sectionB label
{
    color: #21618c;
    font-size: 22px;
}


@media (min-width: 0px) and (max-width: 575.98px) 
{ 
    .sectionA
    {
        display:none;
    }
    .sectionC
    {
        display:none;
    }
    .sectionB label
    {
        color: #21618c;
        font-size: 13px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{ 
    .sectionA
    {
        display:none;
    }
    .sectionC
    {
        display:none;
    }
    .sectionB label
    {
        color: #21618c;
        font-size: 16px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{ 
    .sectionA
    {
        display:inline;
       
    }
    .sectionC
    {
        display:inline;
       
    }
    .sectionB label
    {
        color: #21618c;
        font-size: 19px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{ 
    .sectionA
    {
        display:inline;
      
    }
    .sectionC
    {
        display:inline;
       
    }
    .sectionB label
    {
        color: #21618c;
        font-size: 22px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .sectionA
    {
        display:inline;
        
    }
    .sectionC
    {
        display:inline;
        
    }

    .sectionB label
    {
        color: #21618c;
        font-size: 25px;
    }
 }